.box{
    height: 200px;
    width: 47%;
    float: left;
    margin: 25px;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.15);
    border-radius: 50px 50px 50px 50px;
    background-color: #2BD9AF;;
}
.box2{
    height: 200px;
    width: 47%;
    float: left;
    margin: 25px;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.15);
    border-radius: 50px 50px 50px 50px;
    background-color: #FF5E84;;
}
.big{
    object-position: center;
}
h2{
    font-family: 'Roboto';
font-style: normal;
color: #FFFFFF;
text-align: center;
font-size: 70px;
line-height: 56px;
}